// Фоновые цвета
$bg-color:        #121212;    // общий фон
$card-bg:         #1e1e1e;    // фон карточек/контейнеров
$hover-bg:        #2a2a2a;    // фон при наведении
$input-bg:        #242424;    // фон полей ввода

$text-color:      #e0e0e0;
$text-muted:      #aaa;

$border-color:    #333;
$shadow-color:    rgba(0, 0, 0, 0.7);

$primary-color:   #bb86fc;   
$secondary-color: #03dac6;

// Исходы игры
$win-color:       #4caf50;  
$lose-color:      #cf6679;    
$draw-color:      #fbbc05;   
