@use "../../../styles/_variables";

.header {
  background-color: variables.$header-background;
  padding: 0.75rem 1.5rem;
  color: variables.$text-color;
  box-shadow: 0 2px 4px variables.$shadow-color;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;

  mat-icon {
    color: variables.$primary-color;
    font-size: 1.63rem;
  }

  span {
    color: variables.$text-color;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;

  li a {
    color: variables.$text-color;
    text-decoration: none;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover,
    &.active {
      background-color: variables.$primary-color;
      color: variables.$background-color;
    }
  }
}
