.note-input {
  display: flex;
  padding: 0.75rem;
  background: #f0f8ff;
  border-radius: 4px;
  margin-top: auto;

  input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background: #66c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
