@use "sass:color";
@use "styles/_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$background-color;
  color: variables.$text-color;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  color: variables.$link-color;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover,
  &.active {
    color: variables.$link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: variables.$text-color;
}

button,
input {
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: variables.$card-background;
}
::-webkit-scrollbar-thumb {
  background: variables.$primary-color;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: color.adjust(variables.$primary-color, $lightness: -10%);
}
